.how-it-works {
  display:block;
  /* overflow: hidden; */
  position: absolute;
  width: 0rem;
  min-height: calc(100vh - 100px);
  right: 0;
  z-index: 2;
  top: 100px;
  background-color: var(--lightGray);
  transition:var(--mainTransition)
}
.openSlider {
  width: 22rem;
}
.get-started {
  margin-top: 2rem;
}
.get-started ul li {
  list-style: none;
}
.get-started ul li span {
  display: block;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.75);
  line-height: 22px;
  text-transform: capitalize;
  font-family: "roboto";
  font-weight: 400;
  margin: 0.5rem 2rem 1rem;
}
.get-started ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-grey-darker);
  font-size: 1rem;
  text-transform: capitalize;
  transition: all ease-in-out 0.3s;
  padding: 0.5rem 2rem;
}
.get-started ul li a:hover {
  background-color: var(--secondColor);
  color: white;
}
.hide {
  display: none;
}
/* end how it works section*/

section#grid-section {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.76);
  display: none;
}
.grid-container {
  display: grid;
  max-width: 1170px;
  margin: 0 auto;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  grid-template-areas:
    "container-1 container-1"
    "container-2 container-3";
}
#grid-container-1 {
  grid-area: container-1;
  width: 100%;
  height: 500px;
}

#grid-container-2 {
  grid-area: container-2;
}

#grid-container-3 {
  grid-area: container-3;
}
.grid {
  width: 585px;
  height: 500px;
}

/* style of the pop up container */
.img-window {
  position: relative;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.img-window .close {
  position: absolute;
  top: 1%;
  right: 2%;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 2rem;
  height: 2rem;
}
.img-window .container-image {
  position: relative;
  width: 1040px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-window .container-image img {
  width: 90%;
  height: 90%;
}

.arrow {
  position: absolute;
  display: block;
  width: 2rem;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* .arrow:hover {
  opacity: 0.75;
}
.arrowLeft {
  background-image: url("images/button/arrow-left.png");
  left: 0;
}
.arrowRight {
  background-image: url("images/button/arrow-right.png");
  right: 0;
} */
